@charset 'utf-8';
.header > .site-topbar {
  background: #333;
  font-size: 12px;
}
.header > .site-topbar > .wrapper > .topbar-nav {
  height: 40px;
  line-height: 40px;
}
.header > .site-topbar > .wrapper > .topbar-nav > a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
.header > .site-topbar > .wrapper > .topbar-nav > a:hover {
  color: #fff;
}
.header > .site-topbar > .wrapper > .topbar-nav > span {
  margin: 0 0.3em;
  color: #424242;
}
.header > .site-topbar > .wrapper > .topbar-nav > .download-app {
  position: relative;
}
.header > .site-topbar > .wrapper > .topbar-nav > .download-app:hover > em {
  display: block;
}
.header > .site-topbar > .wrapper > .topbar-nav > .download-app:hover > .appcode {
  height: 150px;
}
.header > .site-topbar > .wrapper > .topbar-nav > .download-app > em {
  position: absolute;
  top: 25px;
  left: 15px;
  font-size: 20px;
  display: none;
  color: #fff;
}
.header > .site-topbar > .wrapper > .topbar-nav > .download-app > .appcode {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -60px;
  width: 120px;
  text-align: center;
  box-shadow: 0 1px 5px #aaa;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  height: 0;
  transition: all 1s;
  overflow: hidden;
  z-index: 5;
}
.header > .site-topbar > .wrapper > .topbar-nav > .download-app > .appcode > img {
  display: block;
  width: 90px;
  height: 90px;
  margin: 18px auto 0px;
}
.header > .site-topbar > .wrapper > .topbar-cart {
  margin-left: 15px;
}
.header > .site-topbar > .wrapper > .topbar-cart > a:hover {
  background-color: #fff;
}
.header > .site-topbar > .wrapper > .topbar-cart > a:hover > em {
  color: orangered;
}
.header > .site-topbar > .wrapper > .topbar-cart > a:hover > span {
  color: orangered;
}
.header > .site-topbar > .wrapper > .topbar-cart > a:hover > b {
  height: 100px;
}
.header > .site-topbar > .wrapper > .topbar-cart > a {
  position: relative;
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
}
.header > .site-topbar > .wrapper > .topbar-cart > a > em {
  margin-right: 4px;
  color: #b0b0b0;
}
.header > .site-topbar > .wrapper > .topbar-cart > a > span {
  color: #b0b0b0;
}
.header > .site-topbar > .wrapper > .topbar-cart > a > b {
  position: absolute;
  top: 40px;
  left: -80px;
  width: 200px;
  height: 0px;
  transition: all 1s;
  background-color: aqua;
  z-index: 6;
  overflow: hidden;
}
.header > .site-topbar > .wrapper > .topbar-info {
  height: 40px;
  line-height: 40px;
}
.header > .site-topbar > .wrapper > .topbar-info > a {
  color: #b0b0b0;
}
.header > .site-topbar > .wrapper > .topbar-info > a:hover {
  color: #fff;
}
.header > .site-topbar > .wrapper > .topbar-info > span {
  margin: 0 0.3em;
  color: #424242;
}
.header > .site-header {
  height: 100px;
}
.header > .site-header > .wrapper {
  position: relative;
}
.header > .site-header > .wrapper > .header-logo {
  margin-top: 22px;
  width: 62px;
}
.header > .site-header > .wrapper > .header-logo > a {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 49px;
  background-color: #ff6700;
  overflow: hidden;
}
.header > .site-header > .wrapper > .header-logo > a > .png1 {
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.header > .site-header > .wrapper > .header-logo > a > .png2 {
  position: absolute;
  left: -49px;
  top: 0;
  transition: all 0.2s;
}
.header > .site-header > .wrapper > .header-logo a:hover > .png1 {
  left: 49px;
}
.header > .site-header > .wrapper > .header-logo a:hover > .png2 {
  left: 0px;
}
.header > .site-header > .wrapper > .header-nav {
  width: 850px;
}
.header > .site-header > .wrapper > .header-nav > .nav-list {
  padding-left: 30px;
  padding-top: 12px;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > li {
  float: left;
  font-size: 16px;
  line-height: 65px;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > li > a {
  padding: 26px 10px 45px;
  color: black;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > .nav-category {
  position: relative;
  width: 140px;
  padding-right: 20px;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > .nav-category:hover > .site-category {
  display: block;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > .nav-category > .site-category {
  position: absolute;
  top: 88px;
  left: -92px;
  z-index: 21;
  width: 234px;
  height: 460px;
  font-size: 14px;
  display: none;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > .nav-category > .site-category > .site-category-list-custom {
  height: 420px;
  border: 0;
  color: #fff;
  background: #fff;
  padding: 20px 0;
  box-sizing: content-box;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > .nav-category > .site-category > .site-category-list-custom > .category-item {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > .nav-category > .site-category > .site-category-list-custom > .category-item > a {
  color: black;
}
.header > .site-header > .wrapper > .header-nav > .nav-list > .nav-category > .site-category > .site-category-list-custom > .category-item > a > em {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #e0e0e0;
}
.header > .site-header > .wrapper > .header-search {
  width: 296px;
  margin-top: 25px;
}
.header > .site-header > .wrapper > .header-search > .search-form {
  position: relative;
  width: 296px;
  height: 50px;
}
.header > .site-header > .wrapper > .header-search > .search-form > .search-text {
  position: absolute;
  right: 52px;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
  outline: 0;
  border: 1px solid #e0e0e0;
  box-sizing: content-box;
}
.header > .site-header > .wrapper > .header-search > .search-form > .search-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 52px;
  height: 50px;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  outline: 0;
  border: 1px solid #e0e0e0;
}
.header > .nav-bar {
  height: 63px;
  width: 100%;
  margin-top: 0;
  color: #616161;
}
.header > .nav-bar > .wrapper > h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
  float: left;
}
.header > .nav-bar > .wrapper > .left {
  margin-left: 5px;
  font-size: 12px;
  margin-top: 21px;
  margin: 20px 0 0 0;
}
.header > .nav-bar > .wrapper > .left > span {
  margin: 0 0.5em;
  color: #424242;
}
.header > .nav-bar > .wrapper > .left > a {
  color: #616161;
}
.header > .nav-bar > .wrapper > .right {
  margin-left: 5px;
  font-size: 16px;
  margin-top: 21px;
  margin: 20px 0 0 0;
}
.header > .nav-bar > .wrapper > .right > span {
  margin: 0 0.5em;
  color: #424242;
}
.header > .nav-bar > .wrapper > .right > a {
  color: #616161;
}
